.panel-one {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-one-inner {
  max-width: 600px;
  position: relative;
}

.p1-line {
  width: 80px;
  height: 2px;
  background: white;
  margin-bottom: 1.5rem;
}

.p1-title {
  font-size: clamp(3rem, 6vw, 5rem);
  margin: 0;
}

.p1-desc {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0.85;
}
