.text-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;


  overflow: hidden;
}

/* Shared text styles */
.text-layer {
  position: absolute;
  font-size: 12rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: white;
  z-index: 2;
}

/* Positions */
.l-1 {
  left: 25%;
  left: 5%;
}

.l-2 {
  left: 28%;
  bottom: 5%;
}

.icarus {
  position: absolute;
  top: 0;
  left: 10%;


  height: 300px;
  width: auto;
  z-index: 1;
}

.wings {
  position: absolute;
  bottom: 3%;
  left: 10%;

  height: auto;
  width: 200px;
  z-index: 1;

  background-blend-mode: overlay;
}