.text-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;


  /*border: 2px solid greenyellow;*/
  overflow: hidden;
}

/* Shared text styles */
.text-layer {
  position: absolute;
  font-size: 12rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: white;
  z-index: 2;
}

/* IMAGE CLIPPED TEXT */
/*.image-text {*/
/*  background-image: url("/images/hero.jpg");*/
/*  background-size: contain;*/
/*  background-position: center;*/

/*  color: transparent;*/

/*  -webkit-background-clip: text;*/
/*  background-clip: text;*/
/*}*/

/* Positions */
.l-1 {
  left: 25%;
  left: 5%;
  /*transform: rotate(-30deg);*/
}

.l-2 {
  left: 28%;
  bottom: 5%;
}

.icarus {
  position: absolute;
  top: 0;
  left: 10%;


  height: 300px;
  width: auto;
  z-index: 1;
}
