.text-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  overflow: hidden;
}

/* Shared text styles */
.text-layer {
  position: absolute;
  font-size: 12rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: white;
  z-index: 1000;
}

/* Positions */
.l-1 {
  top: 10%;
  left: 5%;
}

.l-2 {
  left: 28%;
  bottom: 5%;
}

/* GSAP CONTROLS THIS */
.icarus-wrapper {
  position: absolute;
  bottom: 10%;
  left: 2%;
  z-index: 1;
}

/* CSS CONTROLS THIS */
.icarus {
  height: 300px;
  width: auto;
  animation: float 10s linear infinite;
}

@keyframes float {
  0% {
    opacity: 0.1;
    transform: scale(0.9) translateY(-200%);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(150%);
  }
}
