.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 20vw;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-pic {
  height: 400px;
  width: auto;

  object-fit: contain;
  border-radius: 50%;
}

.text-animation-container {
  height: 40px;
  width: 250px;
}

.hero-bio {
  width: 85%;
  font-weight: bold;
}