nav {
  height: 100%;
  width: 10vw;

  /*border-right: 2px solid lightgray;*/
  /*border: 2px solid greenyellow;*/
}

.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.nav-list li {
  list-style: none;
  transform: rotate(-90deg);
  font-size: 1rem;
}


.nav-list li:hover {
  cursor: pointer;
}