nav {
  position: fixed;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);

  padding: 1rem 2rem;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: -1px 0px 24px 7px rgba(94, 39, 140, 0.55);
  -webkit-box-shadow: -1px 0px 24px 7px rgba(94, 39, 140, 0.55);
  -moz-box-shadow: -1px 0px 24px 7px rgba(94, 39, 140, 0.55);
  min-width: 480px !important;

  backdrop-filter: blur(5px);
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.nav-list > li {
  list-style: none;
  font-weight: bold;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 25px;
  width: 80px;

  transition: all 0.3s ease;
}

nav:hover {
  cursor: pointer;
}

.nav-list > li:hover {
  text-shadow: 0 0 20px white;
}

.nav-list > li:active {
  font-size: 1rem;
}