.panel-seven {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: url("/cursor/feather.cur"), auto;
  background: white;

  border: 1px solid black;
}

/* overlay */
.p7-overlay {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 1;
}

/* images */
.p7-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  pointer-events: none;
  will-change: transform, opacity;
}

.debug-grid {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-size: 100px 100px;
  background-image:
          linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
          linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  z-index: 999;
}

