.zero {
  width: 100vw;
  height: 100vh;

  padding-left: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.roles {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 700px;
  /*overflow: hidden;*/
}

.role {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  font-size: 3rem;
  opacity: 0;
  transform: translateY(20px);
}